<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BustrackerFinal">
        <activity
            android:name=".MoreDetails"
            android:exported="false" />
        <activity
            android:name=".AssigningDriver"
            android:exported="false" />
        <activity
            android:name=".AddingNewRoute"
            android:exported="false" />
        <activity
            android:name=".RouteManagement"
            android:exported="false" />
        <activity
            android:name=".EditingEmployee"
            android:exported="false" />
        <activity
            android:name=".AddingEmployee"
            android:exported="false" />
        <activity
            android:name=".EmployeeManagement"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>